<header>
	<a href="#"><h2><i class="fas fa-address-book"></i>MyLiftPlan</h2></a>
	<nav>
        	<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Lift Plans</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</nav>
</header>
