<header>
	<a href="#"><h2 class = "web-title"><i class="fas fa-address-book"></i class = "web-title">MyLiftPlan</h2></a>
	<nav class = "navbar">
        	<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Lift Plans</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
	</nav>
</header>
