<header>
	<a href="#"><h2 class = "web-title"><i class="fas fa-address-book"></i class = "web-title">MyLiftPlan</h2></a>
	<nav class = "navbar">
        	<ul class = "navlist">
			<li class = "navlisted"><a class = "navitem" href="#">Home</a></li>
			<li class = "navlisted"><a class = "navitem" href="#">Lift Plans</a></li>
			<li class = "navlisted"><a class = "navitem" href="#">About Us</a></li>
		</ul>
	</nav>
</header>
