<!DOCTYPE html>
<html>
	<head>
                <meta charset="utf-8">
                <title>MyLiftPlan</title>
		
		<link rel="stylesheet" href="/style.css" media="screen">
	
                <script src="https://kit.fontawesome.com/58034193eb.js"></script>

                <script src="/index.js" charset="utf-8" defer></script>

	</head>
	<body>
		{{>header}}
		
		{{{body}}}
	</body>
</html>
