<main>
	<div class="about-card-holder">
		<div class="about-card carson">
			<div class="name-pic">
				<p class="about-name">Carson</p>
				<img src="https://live.staticflickr.com/65535/48046662891_1ed3d742bc_q.jpg" width="150" height="150" alt="Carsonio">
			</div>
			<div class="about-bio">
				<div class="bio-line"><p class="about-intro">School: </p><p class="about-info">Oregon State University</p></div>
				<div class="bio-line"><p class="about-intro">Year: </p><p class="about-info">Sophomore</p></div>
				<div class="bio-line"><p class="about-intro">About: </p><p class="about-info"></p> Carson is second year student at Oregon State currently studying computer science with a business minor. While he's not at school he works part time at Dutch Bros Coffee where he whips up some tasty caffinated drank. In his free time he likes lift, game, and watch shows.</div>
				<div class="bio-line"><p class="about-intro">Quote: </p><p class="about-info"></p> "Pasta Lengwini"</div>
			</div>
		</div>
		<div class="about-card noah">
			<div class="name-pic">
				<p class="about-name">Noah</p>
				<img src="https://live.staticflickr.com/65535/48046702568_29658fe58f_q.jpg" width="150" height="150" alt="Toatui">
			</div>
			<div class="about-bio">
				<div class="bio-line"><p class="about-intro">School: </p><p class="about-info"></p> Oregon State University</div>
				<div class="bio-line"><p class="about-intro">Year: </p><p class="about-info"></p> Sophomore</div>
				<div class="bio-line"><p class="about-intro">About: </p><p class="about-info"></p> Noah is a student at Oregon State currently completing his sophomore year. He transfered here from University of Oregon to play beaver football. Legend has it that he can throw the pigskin over those mountains over there. When he's not in the weightroom getting absolutley massive, he likes to kick back with the bros.</div>	
				<div class="bio-line"><p class="about-intro">Qoute: </p><p class="about-info"></p> "Great Success"</div>
			</div>
		</div>	
	</div>
</main>
