<main>
	<section class="createHeader">
 
		<h2 class="liftTitle">Title of Workout</h2>
		<button type="button">Add Lift</button>
        <button type="button">Delete Lift</button>

	</section>

	<section class="createContainer">

		<article class="lift">


			<table>
				<tr>
					<th>Muscle</th>
					<th>Exercise Name</th>
					<th>Sets</th>
					<th>Reps</th>
					<th>Rest</th>
				</tr>
				<tr>
					<td>Back</td>
					<td>Lat Pulldown</td>
					<td><div contenteditable>5</div></td>
					<td>10</td>
					<td>60 sec</td>
				</tr>
				<tr>
					<td>Back</td>
					<td>Barbell Bent Over Row</td>
					<td><div contenteditable>3</div></td>
					<td>8</td>
					<td>60 sec</td>
				</tr>
				<tr>
					<td>Back</td>
					<td>Cable Rope Lat Pulldown</td>
					<td><div contenteditable>3</div></td>
					<td>8</td>
					<td>60 sec</td>
				</tr>
				<tr>
					<td>Back</td>
					<td>Lat Pulldown</td>
					<td><div contenteditable>5</div></td>
					<td>10</td>
					<td>60 sec</td>
				</tr>
				<tr>
					<td>Back</td>
					<td>Lat Pulldown</td>
					<td><div contenteditable>5</div></td>
					<td>10</td>
					<td>60 sec</td>
				</tr>
			</table>

		</article>

	
	</section>
	<div class="saveButton"><button type="button">Save Plan</button></div>

</main>