<main class = "homemain">
	<h1 class = "motto">The go-to place to plan out your next workout</h1>
	<div class = "buttonholder">	
	  <!--	<button type="button" class = "workoutbut">Create a Plan</button>  -->
		<a href = "/plans"><button type="button" class = "workoutbut">View Plans</button></a>
	</div>
	<img src="https://evofitness.ch/wp-content/uploads/2017/02/14A.jpg" width="825" height="550" alt="workout" class="center">
</main>
