<main class = "homemain">
	<h1 class = "motto">The go-to place to plan out your next workout</h1>
	<div class = "buttonholder">	
		<button type="button" class = "workoutbut">Create a Plan</button>
		<button type="button" class = "workoutbut">View Plans</button>
	</div>
</main>
