<main>
  <section>
    <div class = "worksearch">
      <button id = "plancreator" type="button">Create a Plan</button>
      <!-- <input class = "plansearcher" type="text" placeholder="Search Workouts"> -->
    </div>
  </section>
  	{{#each workouts}}
		{{> wrk}}
  	{{/each}}
	<div id="modal-backdrop" class ="hidden"></div>
	<div id="add-workout-modal" class="hidden">
		<div class="modal-contents">
			<div class="modal-header">
				<p>Add a new workout</p>
				<button type="button" id="modal-close-button">&times;</button>
			</div>
			<div class="modal-body">
				<div class="modal-input">
					<label for="modal-name">Workout Name</label>
					<input type="text" id="modal-name">
				</div>
				<div class="modal-input">
					<label for="modal-desc">Workout Description</label>
					<input type="text" id="modal-desc">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="modal-cancel-button">Cancel</button>
				<button type="button" id="modal-accept-button">Create Workout</button>
			</div>
		</div>
	</div>
</main>
