 body{
	margin: 0;
	background-color: black;
}

a{
	text-decoration: none;
	color: black;
}


.web-title{
	margin: 0;
	padding: 10px 20px;
	font-size 45px;
	font-weight: 900;
	background-color: grey;
	color: black;
}

.navbar{
	overflow: hidden;
	margin: 0;
	background-color: grey;
	font-size: 20px;
	line-height: 24px;
}

.navlist{
	margin: 0;
	padding: 0;
}

.navlisted{
	display: inline-block;
	margin: 0 0 0 20px;
}

.navitem{
	color: black;
}

.fourO{
	font-size: 80px;
	display: flex;
	justify-content: center;
	color: white;
}

.fourOCont{
	position: relative;
	font-size: 30px;
	left: 35%;
	color: white;
}

.homemainPLACEHOLDER{
	display: flex;
	align-items: center;
}

.motto{
	display: flex;
	justify-content: center;
	color: white;
	font-size: 50px;;
}

.buttonholder{
	display: flex;
	justify-content: center;
}

.workoutbut{
	font-size: 20px;
	margin: 0 50px 20px 50px;
	padding: 30px 50px;
	background-color: grey;
	border-radius: 5px;
}
.workoutbut:hover{
	cursor: pointer;
	background-color: red;
}
.worksearch{
	background-color: black;
	display: flex;
	justify-content: center;
}

#plancreator{
	margin: 20px 0 0 0;
	background-color: grey;
	border-radius: 5px;
	font-size: 45px;
}

#plancreator:hover{
	cursor: pointer;
	background-color: red;
}

.plansearcher{
	margin: 0 20px 5px 0;	
	background-color: #f5ff89;
	font-size: 15px;
	border: solid black 1px;
	border-radius: 5px;
}

.workout-list{

}

.workout-holder{
	background-color: grey;
	padding: 50px 50px;
	border: solid white 1px;
	border-radius: 15px;
	margin: 20px 100px 20px 100px;
	display: flex;
}

.workout-holder a{
	text-decoration: none;
}
	
.workout-information{
	display: flex;
	flex-direction: column;
}
.workout-information p{
}
.workout-icon{
	font-weight: 800;
	font-size: 86px;
}
.workout-icon:hover{
	font-size:90px;
	position: relative;
	right: 2px;

	color: red;
	cursor: pointer;
}
#workoutT {
	font-size: 32px;
}
.workout-content{
	font-size: 20px;
}

.workout-title{
	font-weight: 900;
	margin: 0 0 0 10px;
}

.workout-desc{
	font-weight: 100;
	margin: 0 0 0 20px;
}

.createContainer{
	display: flex;
	overflow: hidden;
	flex-direction: column;
  	justify-content: flex-start;
  	align-items: center;

}
.lift{

	
	background-color: grey;
}

.liftTitle{
	color: white;
	font-size: 32px;
}
.createHeader{
	text-align: center;
}
#planButtons{
	text-align: center;
}
.saveButton{
	display: inline-block;
}
.deleteButton{
	display: inline-block;
}
table th{
	text-align: left;
	padding: 4px 30px 4px 8px;
}
table td{
	border: 1px solid black;
	padding: 4px 8px;
}
table td:hover {
	cursor: pointer;
}
.about-card-holder{
	display: flex;
	flex-direction: column;
}

.about-card{
	background-color: grey;
	border: 1px solid white;
	border-radius: 15px;
	margin: 5px 15px 5px 15px;
	display: flex;
}
.name-pic{
	margin: 15px;
	display: flex;
	flex-direction: column;	
}
.about-name{
	margin: 0px 0px 0px 20px;
	color: black;
	font-size: 30px;
	font-weight: 700;	
}
.about-bio{
	margin: 50px 0px 0px 0px;
}

.bio-line{
	margin: 5px;
	display: flex;
}

.bio-line p{
	margin: 3px;
}

.about-intro{
	font-weight: 900;
}
.about-info{
	font-weight: 100;
}

#modal-backdrop{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.85);
}

#add-workout-modal{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
	overflow: scroll;
}

.hidden{
	display: none;
}

.modal-contents{
	width: auto;
	max-width: 900px;
	min-width: 350px;
	margin: 40px auto;
	background-color: grey;
	border: solid white 1px;
	border-radius: 15px;
}
.modal-header{
	position: relative;
	padding: 10px 20px;
}
.modal-header p{
	margin: 0;
	font-size: 35px;
	font-weight: 900;
}
#modal-close-button{
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 35px;
	border: none;
	background: none;
	padding: none;
	cursor: pointer;
}
.modal-body{
	padding: 20px;
}
.modal-input{
	display: flex;
	align-items: center;
	font-size: 25px;
	margin: 10px 0;
}	
.modal-input label{
	font-weight: 600;
	flex: 1 75px;
	margin-right: 10px;
}
.modal-input input,
.modal-input text-area{
	flex: 4 200px;
	padding: 8px;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 5px;
}
#modal-desc{
	
}
.modal-input text-area{
	min-height: 64px;
}
.modal-footer{
	display: flex;
	justify-content: flex-end;
	padding: 10px 10px 20px 10px;
}
.modal-footer button{
	font-size: 20px;
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-right: 20px;
	cursor: pointer;	
}
#modal-cancel-button:hover{
	background-color: #ff6e5e;
}
#modal-accept-button:hover{
	background-color: #5eff89;
}

.liftDesc {
	color: white;
	font-size: 18px;
}

#addLift {
	margin: 20px 20px;
	background-color: grey;
	border-radius: 5px;
	font-size: 30px;
}
#addLift:hover{
	cursor: pointer;
	background-color: red;
}
#save-button {
	margin: 20px 20px;
	background-color: grey;
	border-radius: 5px;
	font-size: 25px;
}
#save-button:hover{
	cursor: pointer;
	background-color: red;
}
#delete-button {
	margin: 20px 20px;
	background-color: grey;
	border-radius: 5px;
	font-size: 25px;
}
#delete-button:hover{
	cursor: pointer;
	background-color: red;
}
#lift-table {
	border-collapse: collapse;
	font-size: 20px;
	
	margin: 5px;
}
.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
  	border-radius: 10px;
}