body{
	margin: 0;
	background-color: black;
}

a{
	text-decoration: none;
}

.web-title{
	margin: 0;
	padding: 10px 20px;
	font-size 45px;
	font-weight: 900;
	background-color: grey;
	color: black;
}

.navbar{
	overflow: hidden;
	margin: 0;
	background-color: grey;
	font-size: 20px;
	line-height: 24px;
}

.navlist{
	margin: 0;
	padding: 0;
}

.navlisted{
	display: inline-block;
	margin: 0 0 0 20px;
}

.navitem{
	color: black;
}

.fourO{
	font-size: 80px;
	display: flex;
	justify-content: center;
	color: white;
}

.fourOCont{
	position: relative;
	font-size: 30px;
	left: 35%;
	color: white;
}

.homemainPLACEHOLDER{
	display: flex;
	align-items: center;
}

.motto{
	display: flex;
	justify-content: center;
	color: white;
	font-size: 50px;;
}

.buttonholder{
	display: flex;
	justify-content: center;
}

.workoutbut{
	font-size: 15px;
	margin: 0 50px 0 50px;
	padding: 30px 50px;
}

.worksearch{
	background-color: grey;
	display: flex;
	justify-content: space-between;
}

.plancreator{
	margin: 0 0 5px 20px;
	background-color: #f5ff89;
	border: solid black 1px;
	border-radius: 5px;
	font-size: 15px;
}

.plansearcher{
	margin: 0 20px 5px 0;	
	background-color: #f5ff89;
	font-size: 15px;
	border: solid black 1px;
	border-radius: 5px;
}

.workout-list{
	display: flex;
	flex-direction: column;
}

.workout-holder{
	background-color: grey;
	padding: 50px 50px;
	border: solid white 1px;
	border-radius: 15px;
	margin: 20px 100px 20px 100px;
}

.createContainer{
	display: flex;
	overflow: hidden;
	flex-direction: column;
  	justify-content: flex-start;
  	align-items: center;

}
.lift{

	
	background-color: grey;
}

.liftTitle{
	color: white;
	font-size: 32px;
}
.createHeader{
	text-align: center;
}
#planButtons{
	text-align: center;
}
.saveButton{
	display: inline-block;
}
.deleteButton{
	display: inline-block;
}
table th{
	text-align: left;
	padding: 4px 30px 4px 8px;
}
table td{
	border: 1px solid black;
	padding: 4px 8px;
}